prna
mipyrna/__pycache__
mipyrna/DS_Store
mipyrna/example
mipyrna_results*
analysis_report.html

.DS_Store
.mipyrna
.venv
mtry.ipynb
build
mipyrna.egg-info
miPyRNA.egg-info
.Rprofile
mipyrna.log
test2.ipynb
test.ipynb
mipyrna.log
deg.png
dist
meta.yaml
build.sh
bld.bat
mipyrna/data/ncRNA_rfam.fa